
* {
  box-sizing: border-box;
}

body {
  font-family:'Courier New', Courier, monospace;
  background-color: #333;
  color: #222;
  overflow-x: hidden;
  margin: 0;
}

.container {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.container.display {
  transform: rotate(-20deg);
}
.wrap {
  position: fixed;
  top: -100px;
  left: -100px;
}
.circle {
  background-color: #ff7979;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}
.container.display .circle {
  transform: rotate(-70deg);
}
button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}
#open {
  left: 60%;
}
#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}
.container.display + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}
nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}
nav ul {
  list-style-type: none;
}

nav ul li {
  color: #FFFFFF;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}

.information {
  max-width: 1200px;
  margin: 50px auto;
}